.wrapper {
  width: 50%;
  margin: 10px auto;
}

.icons {
  background-color: transparent;
  border:none;
  width: 20px;
  height: 20px;
  float: right;
}
.icons:hover {
  color: #a01217;
  border:none;
}

@keyframes changeBg
{
  0%   {background-image: url("../../images/backgroundImage1.jpg");}
  25%  {background-image: url("../../images/backgroundImage2.jpg");}
   50%  {background-image: url("../../images/backgroundImage1.jpg");}
   100% {background-image: url("../../images/backgroundImage2.jpg");}
}

#backImage { 
  animation: changeBg 30s infinite;
  height: 100%;
  background-size:cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-image: url("../../images/backgroundImage1.jpg")
  
}
